*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 

}
/*THIS IS FOR THE GOOGLE FONTS*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


#shopping_bag{
  size: 70px;
  font-size: 70px;
}

/*THIS IS FOR THE SHOPSITE.JS COMPONENT*/
.Shoplink button{
  color: black;
  text-align: center;
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.Shoplink button:hover{
  cursor: pointer;
}

.Homelink{
  margin-left: 1rem;

}

.navigation h3{
  color: black;

}

.navigation h3:hover{
  color: white;
}
/*THIS IS THE NAV STYLING*/

.intro{
  background-image: url(./images/cake\ 10.jpg);
  background-size: cover;
  background-position: center;
  height:325px;
  margin-bottom: 1.5rem;
  position: relative;
}

.intro_style{
  display: flex;
  justify-content: space-around;
}

.first{
  position: absolute;
  top: 80%;
  left: .5rem;
}

/*THIS IS THE STYLING FOR THE SECOND PART OF THE WEBSITE*/
.second{
display: flex;
justify-content: center;
padding-left: 1rem;
padding-right: 1rem;
gap: 50px;
margin-bottom: 1.5rem;
}
.second section{
  padding: 1%;
}
.second_slider{
  background-color: white;
width: 45%;
position: relative;
right: -100vw;
transition: right 1s ease-in-out;

}

.animate-right {
  right: 0;
}



.second_link{
  background-image:url(./images/cake\ 7.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 70%;
  height: 300px;

  position: relative;
  left: -100vw;
  transition: left 1s ease-in-out;

}

.animate-left {
  left: 0;
}

.second_link_button{
opacity: 50%;
position: absolute;
top: 87%;
width: 100%;
  text-align: center;
cursor: pointer;
}
.second_link_button button:hover{
  color: chocolate;
}

.second_slider_one{
  background-image: url(./images/cake\ 10.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
height: 300px;
}
.second_slider_two{
  background-image: url(./images/cake\ 11.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
height: 300px;
}
.second_slider_three{
  background-image: url(./images/cake\ 9.jpg);

  background-size: cover;
height: 300px;
background-position: center;
  position: relative;
}
.second_slider h3{
  font-family: cursive;
}
.second_slider p{
  text-align: left;
  position: absolute;
  left: 10px;
}

/*THIS IS THE STYLING FOR THE THIRD PART OF THE WEBSITE*/
.third{
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 50px;
  margin-bottom: 2rem;
}
.third_1{
  background-color: white;
  width: 50%;
  position: relative;
  position: relative;
  left: -100vw;
  transition: left 1s ease-in-out;

}
.animate2-left {
  left: 0;
}
.third_1 h3{
  font-family: cursive;
}
.third_1 p{
  position: relative;
  text-align: left;
  left: 10px;
}
.third_slider_one{
  background-image: url(./images/cake\ 19.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.third_slider_two{
  background-image: url(./images/cake\ 17.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.third_slider_three{
  background-image: url(./images/cake\ 18.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.third_2{
  background-image: url(./images/cake\ 2.jpg);
  background-size: cover;
  background-position: center;
  width:70% ;
  height: 300px;
  position: relative;
  position: relative;
  right: -100vw;
  transition: right 1s ease-in-out;
}
.animate2-right {
  right: 0;
}
.third_2 .Shoplink{
  opacity: 50%;
  position: absolute;
  top: 87%;
  
  width: 100%;
    text-align: center;
  cursor: pointer;
  
}
.third_2 .Shoplink button:hover{
  color:chocolate;
}

/*THIS IS THE STYLING FOR THE OURTH PART OF THE SECTION*/
.fourth{
  display: flex;
  justify-content: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  gap: 10px;
}
.fourth_1{
  background-image: url(./images/cake\ 12.jpg);
  background-size: cover;
width:100%;
height: 200px;
background-position: center;
position: relative;
  left: -100vw;
  transition: left 1s ease-in-out;
}
.fourth_1_text{
  position: absolute;
  font-family: cursive;
  color: white;
  top: 50%;
  
  width: 100%;
    text-align: center;
}
.fourth_2{
  background-image: url(./images/cake\ 15.jpg);
  background-size: cover;
  width:100%;
  height:200px ;
  background-position: center;
  position: relative;
  left: -100vw;
  transition: left 1s ease-in-out;
}
.animate3-left {
  left: 0;
}

.fourth_2_text{
  position: absolute;
  font-family: cursive;
  color: white;
  top: 50%;
  width: 100%;
    text-align: center;
}
.cakes{
margin-left: 1rem;
margin-right: 1rem;
margin-bottom: 2rem;
}
.cakes img{
  width: 170px;
  height: 100px;
  
}
.cakes_1, .cakes_2{
  display: flex;
  justify-content: space-between;
}
.cakes_1{
  margin-bottom: 2rem;
}

/*THIS IS THE STYLING FOR THE RECIPE.JS COMPONENT*/
.sixth video{
  margin-right: 0.5rem;
  height:300px;
  width:90%;
}

.sixth p{

text-align: left;
}
.sixth_button{
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
padding-left: 10px;
}
.sixth_button button{
  background-color: black;
  color: white;
}
.sixth_button button:hover{
  color: chocolate;
}
.seventh{
  margin: 2rem;
text-align: center;

}
.seventh .card{
  text-align: center;
}
.card{
  text-align: center;
  box-shadow: 1px 12px 8px 5px #aaaaaa;
  max-width: 300px;
  height: 200px;
  border: 4px solid white;
 margin: auto;
 background-color: rgb(224, 43, 43);
}

.eight{
  background-color: black;
  height: auto;
  text-align: center;
  padding: 10px;
  color: white;
}
#button{
  position:absolute;
  top: .75rem;
  right: 1rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 21px;
  
}
.bar{
  width:100% ;
  height:3px ;
  background-color:white ;
  border-radius: 10px;
}
.product_card1 img{
  width: 100%;
  height: 100px;
}
.product_card2 img{
  width: 100%;
  height: 100px;
}
.product_card1{
  background-color: white;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.product_card2{
  background-color: white;
  width: 300px;
  height: 200px;
  
}
.product_card1 button{
  background-color:chocolate;
  border-radius: 10px;
  padding: auto;
}
.product_card1 button:hover{
  background-color: grey;
}
.product_container{
 
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 50px 50px;



}
.product_card1:hover{
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
.product_cover{
  width: 100%;
  background-color: grey;

}
.navigation{
  text-align: right;
display: flex;
justify-content: space-between;
  margin-bottom: 2rem;
  background-color:chocolate;
  height: 200px;
  
}
.navigation h3{
  margin-left: 2rem;
  margin-right: 2rem;
}
.shop_cover{
  background-color: grey;
  position: relative;
}
#shop{
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px 50px;
}

.increment{
  background-color: red;
  width: 20px;
  border-radius: 10px;
  padding: auto;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 0px;
  right:0px;
  text-align: center;
}
.em{
  width: 300px;
  height: auto;
  background-color: rgb(201, 68, 90);
  
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  


}

.em:hover{
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
.remove_p{
  position:absolute;
  left: 5px;
  background-color: white;
  border-radius: 5px;
}
.remove_p:hover{
  cursor: pointer;
  color: black;
}
.em input{
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: chocolate;
  color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.em input:hover{
  background-color: green;
}
.em p{
  text-align: center;
}
.em img{
  width: 50px;
  height: 50px;
}
.outcast{
  position: absolute;
  top: 0;
  right: 0;
}
.off{
  display: none;
}
.remove_button{
  display: none;
}
.sixth{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width:375px){
  .second_link{
width: 75%;

  }
  .second_slider{
    width: 45%;
   
  }
  .second{
    gap: 2%;
  }
  .third{
    gap: 3%;
  }
 
  .product_container{
    grid-template-columns: auto;
    gap: 10px 10px;
  }
}

@media only screen and (max-width: 323px){
 .sixth{
 flex-direction: column;}
  .sixth video{
    
    height: 395px;
  width:230px ;
  text-align: center;
    }
    .sixth p{
    padding: 5px;

    }
  .second,.third,.fourth{
    flex-direction: column;
  }
  .second_link{
    width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 3px;
  margin-right: 3px;
  }
  .second_slider{
width: 100%;

  }
  .third_1{
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .third_2{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product_card1{
    width: 100px;
  }

  .product_container{
    grid-template-columns: auto;
    gap: 10px 10px;
  }





}


@media only screen and (max-width:421px){
  
  
  .cakes img{
    width: 50px;
    height: 100px;
  }

  .product_card1{
    background-color: white;
    width: 138px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    
  }

}
@media only screen and (max-width: 700px){
  .product_card1{
    background-color: white;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    
  }

  .product_container{
    gap: 10px;
  }
.fourth_1_text{
  top: 25px;
  
  width: 100%;
    text-align: center;
}
.fourth_2_text{
  top: 25px;
  
  width: 100%;
    text-align: center;
}


.cakes_1{
  gap: 10px;
}
.cakes_2{
  gap: 10px;
}
}

button { font-size: 0.8em; /* Decreased button size */ padding: 6px 12px; margin: 5px; transition: transform 0.2s, background-color 0.3s; /* Added transition for background color */ border: 1px solid #ccc; /* Smaller border */ border-radius: 3px; /* Smaller border radius */ background-color: #f3e5ab; /* Soft vanilla color for buttons */ color: #333; /* Darker text color for contrast */ cursor: pointer; } button:hover { background-color: #e0d4a1; /* Slightly darker shade for hover effect */ } button:active { animation: bounce 0.5s; } @keyframes bounce { 0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 40% { transform: translateY(-20px); } 60% { transform: translateY(-10px); } }